{% load staticfiles %}

<html>
    <head>
        <title>Heather's Development Tools Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>
      <div class="container">

        <div class="page-header">
          <div class="row">
            <div class="col-md-10">
              <h1><a href="{% url "post_list" %}">Heather's Development Tools Blog</a></h1>
            </div>

          {% if user.is_authenticated %}
            <div class="col-md-2">
              <a href="{% url 'post_new' %}" class="top-menu">
                <span class="glyphicon glyphicon-plus">
                </span>
              </a>
              <a href="{% url 'post_draft_list' %}" class="top-menu">
                <span class="glyphicon glyphicon-edit">
                </span>
              </a>
              <a href="{% url 'logout' %}" class="top-menu">
                <span class="glyphicon glyphicon-log-out">
                </span>
              </a>
            </div>

          {% else %}
            <div class="col-md-2">
              <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            </div>

          {% endif %}
          </div>

          {% if user.is_authenticated %}
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <h2>Welcome, {{ user.username }}!</h2>
              </div>
            </div>
          {% endif %}

        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-12">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>

        <div class="footer">
          <div class="row text-center">
            <div class="col-md-12">
              <p>Lindon, UT 84042 | <a href="https://github.com/ethyl2" target="_blank">
                https://github.com/ethyl2</a> | <a href="https://www.linkedin.com/in/heather-nuffer/"
                target="_blank">linkedin.com/in/heather-nuffer</a></p>
            </div>
          </div>
        </div>

      </div>
    </body>
</html>
