{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
      <div class="row">
        <div class="col-md-10">
          {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
          {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish
            </a>
          {% endif %}
        </div>
        {% if user.is_authenticated %}
          <div class="col-md-1 float-md-right">
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </div>
          <div class="col-md-1 float-md-right">
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        {% else %}
          <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>{{ post.title }}</h2>
        </div>
        <div class="col-md-12">
          <p>{{ post.text|linebreaksbr }}</p>
        </div>
      </div>
    </div>
{% endblock %}
