body {
  background-color: #B6A19E;
  background-image: url(../img/Circuit_faded.png);
  background-size: 10em;
  color: white;
  font-family: sans-serif;
}

h2, h2 a {
  font-family: Lobster, sans-serif;
  color: #6BBAA7;
}

h2 a:hover, h2 a:active {
  color: #FBA100;
  text-decoration: none;
}

a {
  color: #63a9b8;
}

.page-header, .footer {
    background-color: white;
    padding: 1.75em;
    border-radius: 10px;
    color: #6C648B;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FBA100;
    font-size: 2em;
    font-family: 'Lobster';
    text-decoration: none;
}

.post {
  background-color: #6C648B;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.date {
  color: #e9e2e1;
}

.comment {
  border: 2px solid #7f706e;
  border-radius: 5px;
  padding: 0.3em;
  margin: 0.3em;
  background-color: #60a796;
}

form {
  color: black;
}

.save {
    float: right;
}

.form-block {
  background-color: #6C648B;
  border: 5px solid black;
  margin: 2em;
  padding: 3em;
  border-radius: 10px;
}

td {
  color: black;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #6BBAA7;
    float: right;
    font-size: 2em;
    margin-right: 0.4em;
}
